<!-- Tämä on header alku-->

<div style="background-color: #efefef;">
    <header style="flex-wrap: wrap !important">
        <a href="/" style="display: flex !important">LOGO <span>Tämä on sivuston slogan</span></a>
        <ul>
            <li>Koti</li>
            <li>Blogi</li>
            <li>Tietoja</li>
            <li>Vielä jotain</li>
        </ul>
    </header>
</div>

<!-- Tämä on header loppu-->